<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1796 100" style="enable-background:new 0 0 1796 100;" xml:space="preserve" width="100%">
<style type="text/css">
	.st0{fill-rule:evenodd;clip-rule:evenodd;fill:url(#SVGID_1_);}
	.st1{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-miterlimit:10;}
	.st2{fill:none;stroke:#FFFFFF;stroke-width:1.5;stroke-miterlimit:10;}
	.st3{fill:#FFFFFF;}
	.st4{font-family:'Helvetica Neue', Arial, sans-serif;}
	.st5{font-size:32px;}
	.st6{fill:#3D3D3D;}
	.st7{fill:#939598;}
	.st8{opacity:0.2;fill:url(#SVGID_2_);enable-background:new;}
	.st9{font-weight:500;}
</style>
<rect width="1796" height="100" fill="#161616"/>
<linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="42.86" y1="50" x2="79.71" y2="50">
	<stop offset="0" style="stop-color:#FF6B6B"/>
	<stop offset="0.21" style="stop-color:#EE0000"/>
	<stop offset="0.75" style="stop-color:#CC0000"/>
	<stop offset="1" style="stop-color:#AA0000"/>
</linearGradient>
<path class="st0" d="M52.4,45.9c0-2.3,1.8-4.1,4.1-4.1s4.1,1.8,4.1,4.1S58.8,50,56.5,50l0,0c-2.2,0.1-4-1.7-4.1-3.9
	C52.4,46,52.4,46,52.4,45.9z M77.5,52.5c-0.8-1.1-1.4-2.3-1.9-3.5c1.2-4.5,0.7-8.6-1.8-11.9c-2.9-3.8-8.2-6-14.5-6.1
	c-4.5-0.1-8.8,1.7-12,4.8c-3,3-4.6,7.2-4.5,11.5c-0.1,2.9,0.9,5.8,2.7,8.1c0.8,0.8,1.3,1.9,1.4,3v4.5c-0.8,0.5-1.4,1.3-1.4,2.3
	c0.2,1.5,1.5,2.6,3,2.4c1.2-0.2,2.2-1.1,2.4-2.4c0-1-0.5-1.9-1.4-2.3v-4.5c0-2-1-3.3-1.9-4.6c-1.5-1.9-2.2-4.2-2.1-6.5
	c0-3.5,1.4-6.9,3.8-9.4c2.7-2.7,6.3-4.1,10-4.1c5.5,0,9.8,1.9,12.1,5c2,2.8,2.5,6.3,1.4,9.6c-0.4,1.2,0.6,2.7,2.3,5.6
	c0.6,0.9,1.2,1.9,1.6,2.9c-0.9,0.7-2,1.2-3.1,1.5c-0.5,0.4-0.7,0.9-0.8,1.5V65c0,0.4-0.1,0.8-0.4,1.1c-0.3,0.2-0.7,0.3-1.1,0.3
	c-1.6-0.3-3.4-0.7-5.2-1.1v-4.8c0.8-0.5,1.4-1.4,1.4-2.3c0-1.5-1.2-2.7-2.7-2.7s-2.7,1.2-2.7,2.7c0,1,0.5,1.9,1.4,2.3v4.1
	c-0.4-0.1-0.7-0.1-1.1-0.3c-4.5-1.1-4.5-2.6-4.5-3.4v-8.3c3.2-0.7,5.4-3.5,5.5-6.7c-0.1-3.8-3.3-6.7-7.1-6.6c-3.6,0.1-6.4,3-6.6,6.6
	c0,3.2,2.3,6,5.5,6.7v8.3c0,2,0.7,4.6,6.6,6.1c3,0.8,6,1.5,9.1,1.9c0.3,0,0.6,0.1,0.8,0.1c1,0,1.9-0.3,2.6-1
	c0.9-0.8,1.4-1.9,1.4-3.1v-4.5c2-0.8,4.1-2,4.1-3.7C79.7,55.9,79,54.6,77.5,52.5z"/>
<circle class="st1" cx="56.5" cy="45.9" r="5.4"/>
<circle class="st2" cx="48.3" cy="65" r="1.6"/>
<circle class="st2" cx="64.8" cy="58.2" r="1.6"/>
<text transform="matrix(1 0 0 1 101.02 59.33)" class="st3 st4 st5">AutoML</text>
<rect x="231.1" y="34" class="st6" width="1" height="32"/>
<text transform="matrix(1 0 0 1 256.29 59.66)" class="st7 st4 st5">Part of Red Hat OpenShift AI</text>
<linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="773.8" y1="50" x2="1796" y2="50">
	<stop offset="0" style="stop-color:#161616"/>
	<stop offset="0.52" style="stop-color:#FF6B6B"/>
	<stop offset="0.62" style="stop-color:#EE0000"/>
	<stop offset="0.88" style="stop-color:#CC0000"/>
	<stop offset="1" style="stop-color:#AA0000"/>
</linearGradient>
<rect x="773.8" class="st8" width="1022.2" height="100"/>
<text transform="matrix(1 0 0 1 1448.1641 59.46)" class="st3 st4 st5 st9">Experiment Notebook</text>
</svg>

## Notebook content

This notebook lets you review the experiment leaderboard for insights into trained model evaluation quality, load a chosen AutoGluon model from S3, and run predictions. 


ðŸ’¡ **Tips:**
- Ensure the S3 connection to pipeline run results is configured so the notebook can access run artifacts.
- The model name must match one of the models listed in the leaderboard (the **model** column).

### Contents
This notebook contains the following parts:

**[Setup](#setup)**  
**[Experiment run details](#experiment-run-details)**  
**[Experiment leaderboard](#experiment-leaderboard)**  
**[Download trained model](#download-trained-model)**  
**[Model insights](#model-insights)**  
**[Load the predictor](#load-the-predictor)**  
**[Predict the values](#predict-the-values)**  
**[Summary and next steps](#summary-and-next-steps)**

<a id="setup"></a>
## Setup

In [1]:
import warnings

warnings.filterwarnings("ignore")

In [2]:
%pip install autogluon.tabular[all]==1.5 | tail -n 1

Requirement already satisfied: tokenizers<=0.23.0,>=0.22.0 in /opt/app-root/lib64/python3.12/site-packages (from transformers->autogluon.tabular[all]==1.5) (0.22.2)
Note: you may need to restart the kernel to use updated packages.

<a id="experiment-run-details"></a>
## Experiment run details

Set the pipeline name, run name, and run ID that identify the training run whose artifacts you want to load. These values are typically available from the pipeline run or workbench.

In [3]:
pipeline_name = "autogluon-tabular-training-pipeline"
run_id = "f5eaed46-4458-4bee-9b98-56e8306c1b64"

<a id="experiment-leaderboard"></a>
## Experiment leaderboard

ðŸ“Œ **Action:** Ensure the S3 connection is added to the workbench so the notebook can access the results.

In [4]:
import boto3
import os
from IPython.display import HTML

s3 = boto3.resource('s3', endpoint_url=os.environ['AWS_S3_ENDPOINT'])
bucket = s3.Bucket(os.environ['AWS_S3_BUCKET'])
leaderboard_prefix = os.path.join(pipeline_name, run_id, 'leaderboard-evaluation')
leaderboard_artifact_name = 'html_artifact'

for obj in bucket.objects.filter(Prefix=leaderboard_prefix):
    if leaderboard_artifact_name in obj.key:
        bucket.download_file(obj.key, leaderboard_artifact_name)

HTML(leaderboard_artifact_name)

<a id="download-trained-model"></a>
## Download trained model

ðŸ’¡ **Tip:** IF you want to download different model than the best one set `model_name` accordingly (must match a name from the leaderboard **model** column).

In [5]:
model_name = "NeuralNetFastAI_BAG_L2_FULL"

Download model binaries and metrics.

In [6]:
full_refit_prefix = os.path.join(pipeline_name, run_id, "autogluon-models-full-refit")
best_model_subpath = os.path.join("model_artifact", model_name)
best_model_path = None
local_dir = None

for obj in bucket.objects.filter(Prefix=full_refit_prefix):
    if best_model_subpath in obj.key:
        target = obj.key if local_dir is None else os.path.join(local_dir, os.path.relpath(obj.key, s3_folder))
        if not os.path.exists(os.path.dirname(target)):
            os.makedirs(os.path.dirname(target))
        if obj.key[-1] == '/':
            continue
        bucket.download_file(obj.key, target)
        best_model_path = os.path.join(obj.key.split(model_name)[0], model_name)

print("Model artifact stored under", best_model_path)

Model artifact stored under autogluon-tabular-training-pipeline/f5eaed46-4458-4bee-9b98-56e8306c1b64/autogluon-models-full-refit/86fb488c-9306-4a28-907e-fdea0021b14b/model_artifact/NeuralNetFastAI_BAG_L2_FULL

<a id="model-insights"></a>
## Model insights

Display the confusion matrix and features importances for selected model.

### Confusion matrix

In [7]:
import pandas as pd

confusion_matrix = pd.read_json(os.path.join(best_model_path, "metrics", "confusion_matrix.json"))
confusion_matrix.head()

     0    1
0  231    0
1   36  179

### Feature importance
Top ten are displayed.

In [8]:
feature_importance = pd.read_json(os.path.join(best_model_path, "metrics", "feature_importance.json"))
feature_importance.head(10)

             importance    stddev       p_value  n  p99_high   p99_low
Name           0.251121  0.010396  3.517177e-07  5  0.272527  0.229715
Sex            0.117937  0.014839  2.944928e-05  5  0.148491  0.087384
Pclass         0.052018  0.016809  1.144288e-03  5  0.086627  0.017409
Age            0.040359  0.005932  5.443512e-05  5  0.052573  0.028144
Ticket         0.039013  0.008177  2.186093e-04  5  0.055850  0.022177
SibSp          0.038565  0.003326  6.570810e-06  5  0.045413  0.031717
Embarked       0.031839  0.003684  2.113690e-05  5  0.039424  0.024253
Fare           0.030493  0.006058  1.774826e-04  5  0.042967  0.018020
PassengerId    0.028251  0.008329  8.104531e-04  5  0.045401  0.011101
Parch          0.027354  0.006613  3.798999e-04  5  0.040971  0.013737

<a id="load-the-predictor"></a>
## Load the predictor

Load the trained model as a TabularPredictor object.

In [9]:
from autogluon.tabular import TabularPredictor

predictor = TabularPredictor.load(best_model_path)

<a id="predict-the-values"></a>
## Predict the values

Use sample records to predict values.

In [10]:
import pandas as pd

score_data = {
    "PassengerId": [1, 2], 
    "Pclass": [3, 1], 
    "Name": ["Braund, Mr. Owen Harris", "Heikkinen, Miss. Laina"], 
    "Sex": [0, 1],
    "Age": [22, 26],
    "SibSp": [1, 0],
    "Parch": [0, 0],
    "Ticket": ["A/5 21171", "STON/O2. 3101282"],
    "Fare": [7.25, 7.9],
    "Cabin": ["", ""],
    "Embarked": ["S", "C"]
}
score_df = pd.DataFrame(data=score_data)
score_df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,"Braund, Mr. Owen Harris",0,22,1,0,A/5 21171,7.25,,S
1,2,1,"Heikkinen, Miss. Laina",1,26,0,0,STON/O2. 3101282,7.90,,C

Predict the values using `predict_proba` method.

In [11]:
predictor.predict_proba(score_df)

          0         1
0  0.492604  0.507396
1  0.379297  0.620703

<a id="summary-and-next-steps"></a>
## Summary and next steps

**Summary:** This notebook loaded a trained AutoGluon model from S3, displayed the experiment leaderboard, and ran predictions on sample data using `predict_proba`.

**Next steps:**
- Run predictions on your own data (ensure columns match the training schema).
- Try another model from the leaderboard by changing `model_name` and re-running the download and load cells.
- Optionally create the Predictor online deployment using Kserve custom runtime.

---